<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- titleにhiddenをつけて非表示に-->
<title hidden>Demo 21044</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- グーグルからフォント読み込み-->
                <link rel="preconnect" href="https://fonts.googleapis.com">

                <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+JP:wght@600;900&display=swap" rel="stylesheet">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
<div id="wrapper">
        <div id="header">
                <p id="title">MyPortfolio</p>
                <p id="title2">S.T. 03/23</p>
        </div>

        <div id="main">
                現在の私にできることを、ポートフォリオとして動的Webサイトにしてみました。<br>
                このwebサイトは、pythonをベースとしたフレームワーク"Flask"によって構築されています。
                <p id="midasi">●できること</p>
                        <p id="midasi2">#htmlとcss</p>
                                少なくとも、この程度の静的ページをデザイン・作成する程度の能力はあります。<br>
                                当然ですが、このページを作成するにあたり生成系AIなどは一切使っておらず、<br>
                                デザインや構想も、すべてオリジナルです。<br>
                                技術的にはGoogle fontsというオープンソースのWebフォントを使っているぐらいで、<br>
                                特に特筆すべき項目はないかもしれませんが、<br>
                                少なくともこの程度のものなら作成できるというデモとしては成立するものと思います。
        <div id="right">
                        <p id="midasi2">#フレームワークを用いた動的Webの構築</p>
                                冒頭でも記入させていただいた通り、<br>このWebページはFlaskというフレームワークを利用して作られています。<br>
                                Flaskはpythonベースの軽量なフレームワークで、<br>アプリケーションとして動作する、動的なWebシステムを構築することができます。<br>
                                たとえばGET/POSTといったフロント/バックエンド間での結合処理を学ぶにあたって、<br>こうした動的Webを実装することは大変実践的な学びがあるものでした。<br>
                                また、開発者サークルに加入したことによって、<br>Dart/Flutterについても模擬プロジェクト開発経験をしています。<br>
                                GithubやRenderといった各種サービスへのデプロイ経験も生き、技術的なトレンドに対して見識を深めることができ、<br>
                                実務における顧客折衝に対して与することができています。
                                

        </div>
                        <p id="midasi2">#プログラミング</p>
                                FizzBuzz程度のアルゴリズムであれば、実装にあたり時間を要しません。<br>
                                エンジニア向け転職サイト"paiza"における、プログラミングスコアランクはB評定です。<br>
                                これは多くの企業におけるエンジニア採用面談に書類審査なしで応募できるスコアランクであり、<br>
                                quoraなどのコミュニティにおいても経験者クラスとして扱われることの多いスコアランクで、全paizaユーザーのうち上位30%以上に相当するスキルランクです。<br>
                                また、提出したプログラムのスキルレベルからpaizaが算出した"paiza査定"における想定年収は420万円です。
                                <br><img src="{{url_for("static", filename="images/rank.png")}}" id="sukusyo">
                                <img src="{{url_for("static", filename="images/rankplm.png")}}" id="sukusyo2">
                                <img src="{{url_for("static", filename="images/koe4.png")}}" id="sukusyo">
                                <img src="{{url_for("static", filename="images/koe2.png")}}" id="sukusyo3">
                                <img src="{{url_for("static", filename="images/koe1.png")}}" id="sukusyo"><br>
                                <br><br>これは必ずしも実態としての市場価値と一致しないことは理解していますが、少なくともpaizaにおいてはこの程度の価値を担保するものではあります。<br>
                                ”市場価値に見合った給料”、”雇いなおすのにいくらかかるかで給料を決める”という価値観である以上、こちらについてご一考いただくだけの価値はあるかと思います。<br>
                                また、補足として、競技プログラミングに興味があり、atCorder茶コーダーを目指しています。コンテスト参加回数の都合上まだ達してはいませんが、<br>
                                パフォーマンス値という、「そのコンテスト上でのスコアが毎回達成できればこれぐらいのレートになるよ」という指標となる値については<br>
                                茶コーダー相当の数値が出ています。茶コーダーがどの程度のプログラミングスキルを保有しているかというと、多次元配列の操作、多重ループ構造を用いた
                                基本的な全探索については問題なく要件に沿った形で実装でき、かつ初歩的なアルゴリズム（二分探索、累積和etc）について理解したうえで計算量を意識した選択ができる程度で、
                                少なくともWeb系のフロントエンジニアであれば、ロジック構築能力に関して実務において必要十分なだけの能力があるとみなしてもいいスコアランクです。
                                <img src="{{url_for("static", filename="images/atc.png")}}" id="sukusyo">

        <div id="right">
                        <p id="midasi2">#データベースの基礎理解</p>
                                基本的なSQL構文を作成することができます。<br>
                                また、SQLインジェクションなどの攻撃手法についても、非常に初歩的なレベルでは理解できております。

        </div>
        
        <div id="demopage">
        <a href="main"><img src="{{url_for("static", filename="images/demopage.png")}}"></a>
        </div>

        </div>
        </div>
        <div id="footer">
        </div>
</div>
        <script>
        <!--

        -->
</script>
</body>
</html>